.artists {
    font-family: 'Nunito Sans';
    white-space: nowrap;
}

.ex {
    font-family: 'Nunito Sans';
    color: #fff;
    background: #ff0000;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 2px;
    text-align: center;
    vertical-align: middle;
}

.holder {
    background: #4c4c4c;
    height: 20px;
    border-radius: 5px;
    padding: 1px 3px 1px 3px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#input {
    padding: 200px 100px 0 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

input[type=file] {
    font-size: 14px;
}

input[type=text] {
    font-size: 16px;
    color: #fff;
    background: none;
    border: none;
    border-bottom: 1px solid #c6c6c6;
    outline: none;
    padding: 0 0 0 5px;
}

#values {
    color: #fff;
    font-size: 14px;
    text-align: left;
    width: 400px;
    margin: 5px 0 0 0;
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
}