.bingo {
    text-transform: uppercase;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bingo-letter {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    display: flex nowrap;
    justify-content: center;
    align-items: center;
}

#bingo-row {
    display: flex nowrap;
    justify-content: center;
    align-items: center;
}

.bingo-row {
    display: flex;
}

#card {
    color: #000;
    background: #fff;
    border: 1px solid black;
    padding: 10px 20px 150px 20px;
}

#main {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.square {
    font-size: 7px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    display: flex nowrap;
    justify-content: center;
    align-items: center;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}