#custom-space {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
}

#description {
    font-weight: bold;
    width: 250px;
    margin: 25px 0 25px 0;
    align-self: center;
}

#free-space {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
}

h1 {
    font-family: 'Nunito Sans';
    font-size: 20px;
    text-decoration: underline;
}

.sub-setting {
    margin-top: 25px;
}

#logo {
    margin-top: 2px;
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
}

#promo-text {
    resize: none;
}

.select {
    margin-top: 2px;
}

#settings {
    font-family: 'Nunito Sans';
    text-align: left;
    color: #000;
    background: #fff;
    max-width: 430px;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-flow: column nowrap;
}