#custom-space {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
}

#free-space {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
}

h1 {
    font-family: 'Nunito Sans';
    font-size: 20px;
    text-decoration: underline;
}

.sub-setting {
    margin-top: 25px;
}

#logo {
    margin-top: 2px;
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
}

.select {
    margin-top: 2px;
}

#settings {
    font-family: 'Nunito Sans';
    text-align: left;
    color: #000;
    background: #fff;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-flow: column nowrap;
}